<header>
  <h1>Lab 1</h1>
</header>

<nav>
  {{#link-to "index"}}
    Home
  {{/link-to}}
  {{#link-to "about.info" "info"}}
    About
  {{/link-to}}
</nav>
{{outlet}}

<footer>
  <p>&copy; Jaejun</p>
</footer>
